<h1 id="title">WORKOUT TRACKER</h1>
<div class="row" id="allCards">
<div class="card" id="runCard" style="width: 10rem;">
    <a href="/run"><i class="fas fa-running fa-7x"></i></a>
</div>
<div class="card" id="benchCard" style="width: 10rem;">
    <a href="/bench"><i class="fas fa-dumbbell fa-7x"></i></a>
</div>
</div>



