<h1 id="title">WORKOUT TRACKER</h1>
<div class="row" id="allCards">
<div class="card" id="runCard">
    <a href="/run"><i class="fas fa-running fa-10x"></i></a>
</div>
<div class="card" id="benchCard">
    <a href="/bench"><i class="fas fa-dumbbell fa-10x"></i></a>
</div>
</div>



